[submodule "Modules/posh-hg"]
	path = Modules/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "Modules/posh-git"]
	path = Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
